<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="divElement" *ngIf="pickQuiz">
	<h1>Pick a Quiz</h1>
    <button
		*ngFor="let quiz of quizNames"
		type="button"
		class="btn btn-outline-secondary me-2"
		(click)="pickAQuizQuestion(quiz.quiz_id!, 1)"
	>
		{{ quiz.quiz_name }}
	</button>
</div>

<div class="divElement" *ngIf="pickQuestion">
	<h1>{{ question }}</h1>
    <button
		*ngFor="let answer of questionsAnswers"
		type="button"
		class="btn btn-outline-secondary me-2"
		(click)="pickAQuizQuestion(quizID, quistionNumber + 1)"
	>
		{{ answer.answer }}
	</button>
</div>
